.home-split {
  max-width: 100%;
  position: relative;

  background: #bebdbd;
  background-image:
   
    url("../assets/LOGO MMI OFICIAL.png"); /* IMAGEN EN /public */

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
